.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftcov/
/coverage.json
/TestResults.xcresult
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
